.navbar-nav p{
    text-decoration: none;
    color: rgb(35, 39, 65);
    padding:2px 5px;
    border-radius: 5px;
    font-weight: 600;
}
.navbar-nav a{
    text-decoration: none;
    color: rgb(35, 39, 65);
    padding:2px 5px;
    border-radius: 5px;
    font-weight: 600;
}
.navbar-nav a:hover{
    background-color: blue;
    color: white;
}
.navbar-nav p:hover{
    background-color: blue;
    color: white;
}
