.explore-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.service{
    border-radius: 20px;
}

.service img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: auto;

}

.card-body{
    margin: auto;
    display: block;
}

/* Responsive*/

@media only screen and (max-width:688px) {
    .explore-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width:991px) {
    .explore-container{
        grid-template-columns: repeat(2, 1fr);
    }
}