.bashboard-manu {
    height: 100vh;
    width: 240px;
    overflow-y: auto;
    border-right: 2px solid #ddd;
}

.all-order li {
    list-style: none;
}

.all-order {
    width: 97%;
    color: #333;
    margin: 10px;
    cursor: pointer;
    font-weight: 600;
    text-align: start;
    padding: 5px 0;
   
    border-right: 4px solid rgba(44, 199, 226, 0);
}

.active {
    background: rgba(221, 217, 217, 0.376);
    border-radius: 10px;
}

.all-order:hover {
    background: rgba(235, 232, 232, 0.767);
    border-right: 4px solid rgb(44, 199, 226);
}